[Unit]
Description=Borg backup + livesync handler for external drive (instance: %i)
After=local-fs.target

[Service]
Type=oneshot
# Do not run this as root. $USER must be set
# correctly here since drive_handler.sh derives the udisks2 mount path
# from it (/run/media/$USER/<label>) via check_drive_mounted.sh.
User=obs1230
ExecStart=/home/obs1230/Code/sandbox/porta-winux/scripts/drive_handler.sh
# Prevents overlapping runs if the drive bounces (disconnect/reconnect quickly)
# TODO: move out of sandbox